build

#nodeJS stuff
tools/bouncer_worker/config.js
tools/bouncer_worker/node_modules

#Windows junk
*.vcxproj*
*.sln
*.suo
*.rc
*.opensdf
*.aps
*.sdf
resource.h

# Sublime junk
.tags
.tags_sorted_by_file

#vim junk
*.swp

#mongo junk
*.lock

Debug
x64
sandbox
sandbox/sandbox.cpp
