[submodule "submodules/googletest"]
	path = submodules/googletest
	url = https://github.com/google/googletest.git
[submodule "submodules/asset_generator"]
	path = submodules/asset_generator
	url = https://github.com/3drepo/AssetGenerator.git
	branch = ISSUE_14
[submodule "submodules/svgexport"]
	path = submodules/svgexport
	url = https://github.com/3drepo/SVGExporter
