language: cpp

compiler:
     - gcc


addons:
    apt:
        sources:
            - ubuntu-toolchain-r-test
        packages:
            - gcc-4.9
            - g++-4.9

before_install:
    #- echo 'deb http://downloads-distro.mongodb.org/repo/ubuntu-upstart dist 10gen' | sudo tee /etc/apt/sources.list.d/mongodb.list
    #- sudo apt-get update
    #- sudo apt-get install mongodb-org
    - mongod --version
    - mkdir testData && cd testData
    - svn --no-auth-cache export --username $TESTUSER --password $TESTPW https://github.com/3drepo/tests/trunk/cplusplus/bouncer
    - ls
    - cd ../
    - mkdir data
    - mongod --dbpath data &
    - until nc -z localhost 27017; do echo Waiting for MongoDB; sleep 1; done
    - mongo admin testData/bouncer/createUser.js
    - cd  testData/bouncer/data/database/
    - mongorestore -u "testUser" -p "3drepotest" --authenticationDatabase admin
    - cd ../../../../
    - export CXX="g++-4.9"
    - export CC="gcc-4.9"
    - sudo ln -sf /usr/bin/gcov-4.9 /usr/bin/gcov
    - gcov --version
    - echo ============ BOOST  INSTALL =============
    - sudo add-apt-repository -y ppa:samuel-bachmann/boost
    - sudo apt-get update
    - sudo apt-get install libboost1.60-all-dev
    - echo ============ MONGO  INSTALL =============
    - tar -zxf testData/bouncer/ext_libs/mongo-cxx-1.1.0.tgz
    - echo ============ ASSIMP INSTALL =============
    - tar -zxf testData/bouncer/ext_libs/assimp-install.tgz
    - echo ============ IFCOPENSHELL INSTALL =============
    - tar -zxf testData/bouncer/ext_libs/occt.tgz
    - tar -zxf testData/bouncer/ext_libs/ifcopenshell.tgz
    - sudo apt-get install libvtk5-dev libxmu-dev libxi-dev
    - echo ============ TEIGHA INSTALL =============
    - wget $TEIGHA_LIBS
    - tar -zxf teighaLinuxGCC4.9.tgz
    - ls teighaLinuxGCC4.9/Kernel/Include
    - echo ============ AWS SDK INSTALL =============
    - tar -zxf testData/bouncer/ext_libs/aws.tgz
    - ls aws-install/include/aws/core

install:
    - sudo pip install cpp-coveralls
services:
    - mongodb
before_script:
    - mkdir build && cd build
    - export MONGO_ROOT=$PWD/../mongo-cxx-1.1.0
    - export ASSIMP_ROOT=$PWD/../assimp-install
    - export OCCT_ROOT=$PWD/../occt-install
    - export IFCOPENSHELL_ROOT=$PWD/../ifcopenshell
    - export ODA_ROOT=$PWD/../teighaLinuxGCC4.9
    - export ODA_LIB_DIR=$ODA_ROOT/lib/lnxX64_4.9dll/
    - export AWSSDK_ROOT=$PWD/../aws-install
    - cmake -DREPO_BUILD_TOOLS=ON -DREPO_BUILD_CLIENT=ON -DREPO_BUILD_TESTS=ON  -DREPO_BUILD_COVERAGE=ON -DODA_SUPPORT=ON -DCMAKE_BUILD_TYPE=Release ../
    - mongo mydb_test --eval 'db.createUser({user:"testUser",pwd:"3drepotest",roles:["readWrite"]});'
script:
    - sudo make -j2 install
    - export REPO_MODEL_PATH=$PWD/../testData/bouncer/data/models
    - for f in $REPO_MODEL_PATH/*.json; do sed -i.bak -e 's|$REPO_MODEL_PATH|'$REPO_MODEL_PATH'|g' $f; done
    - LD_LIBRARY_PATH=$AWSSDK_ROOT/lib/:$ODA_ROOT/bin/lnxX64_4.9dll/:$OCCT_ROOT/lib/:$IFCOPENSHELL_ROOT/lib:$MONGO_ROOT/lib/:$ASSIMP_ROOT/lib:/usr/local/lib:$LD_LIBRARY_PATH 3drepobouncerTest --gtest_filter=RepoClientTest.UploadTestMissingNodes
after_success:
    - coveralls --root ../ -e "test" -e "submodules" -e "cmake_modules" -e "tools" -e "mongo" -e "assimp" -e "assimp-install" -e "mongo-cxx-1.1.0" -e "aws-install"
notifications:
    email:
        recipients:
            - devops@3drepo.org
