language: cpp

compiler:
     - gcc


addons:
    apt:
        sources:
            - ubuntu-toolchain-r-test
        packages:
            - gcc-4.9
            - g++-4.9

before_install:
    - echo 'deb http://downloads-distro.mongodb.org/repo/ubuntu-upstart dist 10gen' | sudo tee /etc/apt/sources.list.d/mongodb.list
    - sudo apt-get update
    - sudo apt-get install mongodb-org
    - mongod --version
    - mkdir testData && cd testData
    - svn --no-auth-cache export --username $TESTUSER --password $TESTPW https://github.com/3drepo/tests/trunk/cplusplus/bouncer
    - ls 
    - cd ../
    - mkdir data
    - mongod --dbpath data &
    - until nc -z localhost 27017; do echo Waiting for MongoDB; sleep 1; done
    - mongo admin --eval 'db.addUser("testUser", "3drepotest");'
    - cd  testData/bouncer/data/database/
    - mongorestore -u "testUser" -p "3drepotest" --authenticationDatabase admin
    - cd ../../../../
    - export CXX="g++-4.9"
    - export CC="gcc-4.9"
    - sudo ln -sf /usr/bin/gcov-4.9 /usr/bin/gcov
    - gcov --version
    - echo ============ BOOST  INSTALL =============
    - sudo add-apt-repository -y ppa:boost-latest/ppa
    - sudo apt-get update
    - sudo apt-get install libboost1.55-all-dev
    - echo ============ MONGO  INSTALL =============
    - tar -zxvf testData/bouncer/ext_libs/mongo-cxx-1.1.0.tgz
    - echo ============ ASSIMP INSTALL =============
    - tar -zxvf testData/bouncer/ext_libs/assimp-install.tgz
    - echo ============ IFCOPENSHELL INSTALL =============
    - tar -zxvf testData/bouncer/ext_libs/occt.tgz
    - tar -zxvf testData/bouncer/ext_libs/ifcopenshell.tgz
    - sudo apt-get install libvtk5-dev libxmu-dev libxi-dev
install:
    - sudo pip install cpp-coveralls    
before_script:
    - ls
    - mkdir build && cd build
    - export MONGO_ROOT=$PWD/../mongo-cxx-1.1.0 
    - export ASSIMP_ROOT=$PWD/../assimp-install 
    - export OCCT_ROOT=$PWD/../occt-install
    - export IFCOPENSHELL_ROOT=$PWD/../ifcopenshell
    - cmake -DREPO_BUILD_CLIENT=ON -DREPO_BUILD_TESTS=ON  -DREPO_BUILD_COVERAGE=ON -DCMAKE_BUILD_TYPE=Release ../
script:
    - sudo make -j2 install
    - export REPO_MODEL_PATH=$PWD/../testData/bouncer/data/models
    - echo $REPO_MODEL_PATH
    - for f in $REPO_MODEL_PATH/*.json; do sed -i.bak -e 's|$REPO_MODEL_PATH|'$REPO_MODEL_PATH'|g' $f; cat $f; done
    - LD_LIBRARY_PATH=$OCCT_ROOT/lib/:$IFCOPENSHELL_ROOT/lib:$MONGO_ROOT/lib/:$ASSIMP_ROOT/lib:/usr/local/lib:$LD_LIBRARY_PATH 3drepobouncerTest
after_success:
    - coveralls --root ../ -e "test" -e "submodules" -e "cmake_modules" -e "tools" -e "mongo" -e "assimp" -e "assimp-install" -e "mongo-cxx-1.1.0"
notifications:
    email: 
        recipients:
            - team@3drepo.org
